
<div class="container">
  <div class="col-xs-12 ">

      <div class="page-header">
          <h1>
              <span>Country data</span><br/>
              <small>
                    <button (click)="selectedlist()">
                            your selected list
                        </button>
              </small>
            
              <!-- <small>by mariuszfoltak</small> -->
          </h1>
      </div>


      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" >
      <thead>
      <tr>
          <th style="width: 20%"></th>
          <th style="width: 20%">
              <mfDefaultSorter by="id">ID</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="threatLevel">Threat Level</mfDefaultSorter>
          </th>
          <th style="width: 20%">
              <mfDefaultSorter by="threatText">Threat Text</mfDefaultSorter>
          </th>
      </tr>
      <tr>
          <th colspan="5">
                <label>

                </label>

              Filter by Name:
              <input class="form-control" [(ngModel)]="filterQuery"/>

          </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of mf.data">
          <td>
            <input type="checkbox" data-md-icheck  (change)="addcoutry1($event,item)"/>
          </td>
          <td>{{item.id}}{{selecteCountry}}</td>
          <td>{{item.name}}</td>
          <td>{{item.threatLevel}}</td>
          <td>{{item.threatText | uppercase}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
          <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
      </tr>
      </tfoot>
  </table>